.navbar {
  grid-area: sidebar;
  background-color: rgba(88, 88, 88, 0.733);
  margin-right: 7px;
  padding: 20px;  
  border-radius: 8px;
}
.item a {  
  color: rgb(210, 210, 210);
  text-decoration: none;
}
.item a.activeLink {
  color:rgb(27, 27, 27);
}
